#supercharge {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#supercharge .row {
  width: 100%;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#supercharge .row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 10;
  margin-bottom: 0;
  max-width: none;
}

#supercharge .columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#supercharge .large-4 {
  width: 33.33333%;
}

#supercharge .large-8 {
  width: 66.66667%;
}

#supercharge .large-12 {
  width: 100%;
}

#supercharge .th {
  line-height: 0;
  display: inline-block;
  border: solid 4px #fff;
  max-width: 100%;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#supercharge img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

#supercharge h3 {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: .5em 0;
}

#supercharge .supercharge-instructions {
  background: #ffffd5;
  border: 1px solid #ffffa2;
  padding: .5em;
}